<p>form-control works!</p>

<form #profileForm="ngForm">
  <div>
    <label for="">FirstName: </label>
    <br />
    <input type="text" name="firstName" [(ngModel)]="firstName" />
  </div>
  <div>
    <label for="">LastName: </label>
    <br />
    <input type="text" name="lastName" [(ngModel)]="lastName" />
  </div>

  <button (click)="save()">Save</button>
  <!-- <button (click)="saveForm(profileForm)">SaveForm</button> -->
  <button (click)="saveFormAngular(profileForm)">SaveForm</button>
</form>
