<!--#region Basic Project -->
<!-- ! Dynamic Components For Basic Project -->
<!-- * <app-dark-light-mode></app-dark-light-mode>
* <app-basic-syntax></app-basic-syntax>
* <app-other-syntax></app-other-syntax>
* <app-template-form></app-template-form>
* <app-template-controller-form></app-template-controller-form>
* <app-form-control></app-form-control>
* <app-form-control-advanced></app-form-control-advanced>
* <app-form-control-validation></app-form-control-validation>
* <app-profile-manager></app-profile-manager> -->
<!--#endregion-->

<!-- ? Angular App Project -->
<app-header></app-header>
<!-- ? Component Container -->
<router-outlet></router-outlet>
<app-footer></app-footer>
